
/* khuôn mẫu chung cho các thẻ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* khuôn mẫu cho logo */
.logo{
    width: 7%;
    height: 7%;
}

/*
object-fit: cover → luôn lấp đầy khung, có thể bị cắt.
object-fit: contain → luôn hiển thị hết, có thể dư khoảng trống.
object-fit: fill → kéo dãn ảnh để lấp đầy khung.
*/
.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.admin_image{
    width: 100px;
    object-fit: contain;
}

